version: '3'

services:
    football_stats_app:
        ports:
            - 8072:80

    football_stats_database:
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: translation
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        ports:
            - 3371:3306