{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-12 p-0">
        <div class="row">
            <div class="col-12 col-sm-7">
                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Effectifs
                    </div>
                    <div class="content-block-body">
                        <table class="table">
                            <thead>
                                <th>Joueur</th>
                                <th>Né le</th>
                                <th>Poste</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Classement / Calendrier
                    </div>
                    <div class="content-block-body">

                    </div>
                </div>

                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Buteurs
                    </div>
                    <div class="content-block-body">

                    </div>
                </div>

                <div class="content-block mb-3">
                    <div class="content-block-header">
                        Passeurs
                    </div>
                    <div class="content-block-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}