{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}Ajouter une convocation{% endblock %}

{% block page_actions %}
<a href="{{ returnLink }}" class="btn btn-secondary">Retour</a>
{% endblock %}

{% block main %}

    <div class="mt-4 mb-5">
        {{ form_start(form) }}
        <div class="col-12 col-lg-6">
                {{ form_row(form) }}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body_javascript %}

{% endblock body_javascript %}