html,body {
  height: 100%;
  width: 100%;
  font-size: 0.9em;
  color: #000000;
  background-color: $backgroundWebSite;
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.content {

  padding-top: 15px;

  .content-col-first {
    @include mq($from: tablet) {
      padding: 0px;
    }
  }

  a {
    color: $colorPrincipal2 !important;
    text-decoration: none;
  }

  .content-block {

    background-color: white;
    border: 1px solid #E5E5E5;

    .accordion-button {
      background-color: $colorPrincipal1;
      color: white;
      font-size: 12.96px;
    }

    .content-block-header {
      background-color: $colorPrincipal1;
      color: white;
      display: flex;
      align-items: center;
      padding: 15px
    }

    .content-block-body {
      padding: 15px;
    }

    .content-block-body-fixHeight {
      max-height: 200px;
      overflow: auto;
    }

    .content-block-playings {

      padding: 15px 45px;

      @include mq($until: tablet) {
        padding: 15px 5px;
      }

      .playing {
        padding: 10px 0px;
        border-bottom: 1px solid #E5E5E5;
      }

      .playing.last {
        border-bottom: none;
      }

      .playing-club-title, .playing-score {
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;

        @include mq($until: tablet) {
          font-size: 10px;
        }
      }

      .playing-score {
        @include mq($until: tablet) {
          font-size: 16px;
        }
      }

      .playing-compo, .playing-details {
        @include mq($until: tablet) {
          font-size: 10px;
        }
      }

      .playing-club {
        img {
          width: 40px;
          height: 40px;

          @include mq($until: tablet) {
            width: 30px;
            height: 30px;
          }
        }
      }

      .playing-details {
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .details-item {
    margin-bottom: 15px;
  }

  .details-name {
    font-size: 24px;
    font-weight: bold;
  }

  .avatar {
    border: 1px solid #E5E5E5;
    width:100px;
    height:100px;
  }

}