:root {
  --body-max-width: 100%;
}

.main-header #header-logo img {
  height: 50px !important;
}
/*
#input-daterange {
  .input-group-text {
    height: 36px !important;
  }

  .btn-primary {
    height: 35px;
  }
}

#main {
  .card-body {
    max-height: 250px;
    overflow-y: auto;
  }

  .product-td-header {
    height: 30px;
    padding: 0.5em;
    background-color: rgba(0,0,0,.05) !important;
    font-weight: bold;
  }

  .product-td-body {
    background-color: white;

    ul {
      margin-bottom: 0;
    }

    ul > li {
      padding: 0.5em;
    }
  }
}
 */
